.navbar.navbar-default
  .container-fluid
    .navbar-header
      .navbar-brand= link_to 'American Conservation Experience', '/'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to "Log out", destroy_user_session_path(method: :delete)
        - else
          %li= link_to "Log in", new_user_session_path

.container

  .row
    .col-md-12
      .page-header
        %h1 Dashboard

  .row
    .col-sm-12
      .alert.alert-warning You need to input your hours
  .row
    .col-md-12
      %h4
        Some cool project (the one you're on)
        .label.label-default 1/1/2016 - 1/14/2016
      %br
  .well
    .row
      - (1..14).each do |index|
        .col-md-2
          %label January #{index}
          .input-group.input-group-sm
            %input{ type: 'text', class: 'form-control', placeholder: "Enter hours" }
            %span.input-group-addon hours
