.navbar.navbar-default
  .container-fluid
    .navbar-header
      .navbar-brand= link_to 'American Conservation Experience', '/'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to "Log out", destroy_user_session_path(method: :delete)
        - else
          %li= link_to "Log in", new_user_session_path

.container
  .row
    .col-sm-12
      .alert.alert-danger You have hours that need to be inputed

  .row
    .col-md-12
      .page-header
        %h2 Dashboard

  .row
    .col-md-12
      %h3 Some cool project (the one you're on)
      %br 
  .row
    .col-md-12
      .panel.panel-warning
        .panel-heading
          Current period &nbsp;|&nbsp; January 1, 2016 - January 14, 2016 &nbsp;&nbsp;
          .label.label-default 
        .panel-body
          - (1..14).each do |index|
            .col-md-2
              %label January #{index}
              .input-group.input-group-sm.margin-bottom
                %input{ type: 'text', class: 'form-control', placeholder: "Enter hours" }
                %span.input-group-addon hours

          .col-md-12.text-right
            %button.btn.btn-primary{ type: "submit" } Submit hours

    .col-md-12
      .panel.panel-default
        .panel-heading
          Previous period &nbsp;&nbsp;|&nbsp;&nbsp;12/17/2016 - 12/31/2016&nbsp;&nbsp;
          .label.label-success Hours submitted
        .panel-body
          Total hours: 34
