- (0..6).each do |i|
  %td
    %input.form-control.hoursinput{name: "typeweeks[#{uuid}][hours][#{week_start + i.days}]", type: 'text', placeholder: '0', value: (hours_type == 'lunch' ? 0.5 : nil)}
%td.rowtotal
  %strong <span>0</span> hours