%tr
  %td{style: 'width:20%;'}
    %select.form-control
      = options_for_select(HoursLog.formatted_types)

    %select.form-control
      = options_for_select(HoursLog.formatted_service_types)
  = render partial: 'hours_logs/field_cols', locals: { hours_type: hours_type }
  
  - if true
    %td
      .btn.btn-sm.btn-danger.remove-row-button Remove row