- if current_user.submissions.approved.any?
  - current_user.submissions.approved.each do |submission|
    = render 'approved_submission'

- else
  .margin-top
    %p You currently don't have any approved submissions