- if current_user.submissions.unapproved.any?
  - current_user.submissions.unapproved.each do |submission|
    = render partial: 'unapproved_submission', locals: { submission: submission }
- else
  %p.margin-top You currently don't have any hours awaiting approval.