.container.margin-top
  .row
    .col-xs-12
      - if flash[:success].present?
        .alert.alert-success= flash[:success]

      - if flash[:error].present?
        .alert.alert-danger= flash[:error]
