.navbar.navbar-default
  .container-fluid
    .navbar-header
      .navbar-brand= link_to 'American Conservation Experience - Matrix Beta', '/'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to("Signed in as #{current_user.email} | Log out", destroy_user_session_path, method: :delete)
        - else
          %li= link_to "Log in", new_user_session_path